.task-details {
	@include display-flex(column);
	margin: 0 auto;
	width: 90%;
	max-width: 700px;
	padding: 5rem 0 5rem 0;

	&-header {
		display: flex;
		justify-content: space-between;
		text-align: left;
		background-color: $color-2;
		color: $textCol-1;
		width: 100%;
	}

	&-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: $textCol-1;
			padding: 1.8rem;

			&:hover {
				cursor: pointer;
				background-color: #eee;
				color: $color-3;
			}
		}
	}

	&-main {
		display: flex;
		background-color: $color-1;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;

		p {
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1em;
			padding-bottom: 1em;
			margin-left: 2rem;

			.title {
				font-weight: 700;
			}
		}

		.due {
			margin-top: 2rem;
			font-size: 1.4em;
		}

		.checkbox {
			margin: 0 5rem 0 2rem;
			display: inline-flex;
			cursor: pointer;
			position: relative;
		}

		.checkbox > span {
			color: #000;
			font-size: 1.2em;
			padding: 0.5rem 0.25rem;
			margin-bottom: 2em;
		}

		.checkbox > input {
			height: 25px;
			width: 25px;
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
			appearance: none;
			border: 1px solid $color-3;
			border-radius: 4px;
			outline: none;
			transition-duration: 0.3s;
			background-color: $textCol-1;
			cursor: pointer;
		}

		.checkbox > input:checked {
			border: 1px solid $textCol-1;
			background-color: $color-2;
		}

		.checkbox > input:checked + span::before {
			content: '\2713';
			display: block;
			font-weight: 900;
			text-align: center;
			color: $textCol-1;
			position: absolute;
			left: 0.7rem;
			top: 0.2rem;
		}

		.checkbox > input:active {
			border: 2px solid $color-2;
		}
	}
}
